.navigation-list {
    
    ul{
        display: flex;
    }
    li:not(:last-child) {
        margin-right: 42px;
    }
    a {
        font-weight: 400;
        line-height: 24px;
        color: #323232;

        &:hover {
            color: $accent-color;
        }
        &.active {
            color: $accent-color;
            font-weight: 700;
        }
    }
    
}